<ul class="nav nav-stacked" id="sidebar">
	  <li><a href="#">Admin</a></li>
      <li><a href="#sec0">Users</a></li>
      <li><a href="#sec1">Organizations</a></li>
      <li><a href="#sec2">Events</a></li>
      <li><a href="#sec3">Categories</a></li>
  </ul>