<h2> Categories </h2>

<div class="center">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-3">
          <div class="caption">
            <p><%= category.name %></p>
          </div>

      </div>
    <% end %>
  </div>
</div>