@import "bootstrap";

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

.navbar-default {
	background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 400;
	color: #d5641c;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0192B5;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.progress-bar {
	min-width: 40px;
}

.progress-bar[aria-valuenow="0.0"] {
	min-width: 50px;
	color: $text-color;
	background: transparent;
  	box-shadow: none;
}

.event-button {
	padding-top: 15px
}

.heading {
	border-bottom: solid 1px #CCC;
}

.sidebar {
	height: 100%;
}
